# GENERAL
APP_ID=""
SERVER_URL=""
SOCKET_PORT=0
ENVIRONMENT=""
WEB_CONCURRENCY=0
LOG_LEVEL=""
NODE_ENV=""
# MongoDB
MONGODB_URL=""
# Redis
REDISCLOUD_HOST=""
REDISCLOUD_KEY=""
REDISCLOUD_PORT=""
REDIS_URL=""
REDISTOGO_URL=""
# JWT BusApi -> Bcrypt 8 rounds
JWT_SECRET=""
# SendGrid API Key
SENDGRID_API_KEY=""
# Cripto.js random UUID IMPORTANT! this have to be the same in frontend
CRIPTO_SECRET_KEY=""
CRYPTO_SECRET_DATA=""
# Apple Keys Pass
TEAM_ID=""
PASS_TYPE_ID=""
# Twilio account
TWILIO_ACCOUNT_SID=""
TWILIO_ACCOUNT_AUTH_TOKEN=""
TWILIO_NUMBER_PRODUCTION=""
# Cert password IOS Pass
PASSWORD_CERT=""